/* Lightbox hack */

#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev {
	left: 0;
	float: left;
}
#lightbox-nav-btnNext {
	right: 0;
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px;
	color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
	width: 70%;
	float: left;
	text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
	width: 99px;
	float: right;
	padding-bottom: 0.7em;
}

/* Lightbox hack */

/* Spoiler hack */

.spoiler-head {
	font-size: 11px; padding: 1px 14px 3px; margin-left: 6px; line-height: 15px;
}

.spoiler-body {
	padding: 1px 6px 2px; display: none;
	border-top: 1px solid #C3CBD1; background: #F5F5F5;border-bottom: 1px solid #C3CBD1;
}

.spoiler-wrap {
	width: 95%; margin: 6px auto; clear: both; background: #E9E9E6;
	border: solid #C3CBD1; border-width: 1px 1px 1px 2px;
}

.clickable { cursor: pointer; }
.folded    { background: transparent url(images/icon_plus.gif) no-repeat left center; padding-left: 14px; }
.unfolded  { background: transparent url(images/icon_minus.gif) no-repeat left center; padding-left: 14px; }

/* Spoiler hack */

/* AJAX css-only rating stars */
/* rating selector */
span.rating {
	width: 16px; /* Must be same width as rating images */
	height: 18px; /* Must be same height as rating images */
}

span.star {
	display: block;
	position: relative;
	left: 16px; /* Must be same width as rating images */
	cursor: pointer;
	background: url(images/rating/off.gif) no-repeat;
}

span.star:hover {
	background: url(images/rating/on.gif) no-repeat;
}

div#rating_selector > span:only-child {
	left: 0px;
}
/* AJAX css-only rating stars */

/* ===== ОСНОВНЫЕ СТИЛИ СТРАНИЦЫ ===== */
body {
    font-family: "Tahoma", sans-serif;
    font-size: 8pt;
    color: #306A82;
    margin: 10px 0 0 0;
    background: #40587B url(images/pagebg.gif) repeat-x top left;
}

/* ===== СБРОС ДЛЯ ИЗОБРАЖЕНИЙ ===== */
.linked-image {
    margin: 0;
    padding: 0;
    border: 0;
}

.resized-linked-image {
    margin: 1px 0 0 0;
    padding: 0;
    background-color: #000;
    border: 0;
    color: #FFF;
    font-size: 10px;
    width: auto;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
}

.resized-linked-image-zoom {
    width: 200px;
    height: 30px;
    background-color: #FFF;
    padding: 6px 0 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* ===== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ===== */
#highlighted {
    background-color: #FAFAFA;
}

#highlighted tr:hover {
    background-color: #F5FBE1;
}

#tooltip {
    background: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: auto;
    border: 1px solid #778899;
    border-left: 5px solid #ff9f00;
    color: #333;
    opacity: 0.91;
    line-height: 15px;
    z-index: 100;
    margin: 0;
    padding: 3px;
    position: absolute;
    visibility: hidden;
    border-collapse: separate;
}

.error {
    color: #990000;
    background-color: #FFF0F0;
    padding: 7px;
    margin: 5px 0 10px 0;
    border: 1px dashed #990000;
}

.error b {
    color: #990000;
    background: inherit;
}

.success {
    color: #000;
    background: #F5FBE1;
    padding: 7px;
    margin: 5px 0;
    border: 1px dashed #7BA813;
}

.success b {
    color: #7BA813;
    background: inherit;
}

.red { color: #ee0000; }
.yellow { color: #997700; }
.green { color: #000000; }
.important { font-weight: bold; font-size: 8pt; }

.small { font-size: 7pt; }
.big { font-size: 10pt; }

/* ===== ФОРМЫ И ЭЛЕМЕНТЫ ВВОДА ===== */
.editor {
    margin: 0 0 1px 0;
    width: 400px;
    height: 21px;
    border: 1px #D1D8EC solid;
}

.editorinput {
    background: #FAFAFA;
    color: #000;
    border: 1px #D1D8EC solid;
    font: 11px Verdana, Helvetica, sans-serif;
    text-decoration: none;
}

.editorbutton {
    float: left;
    cursor: pointer;
    padding: 2px 1px 0 5px;
}

input, select, textarea {
    margin: 3px 0 0 0;
    font-family: "Tahoma", sans-serif;
    font-size: 8pt;
}

input.button {
    border: 1px solid #FFC58C;
    background-color: #FFC58C;
}

/* ===== КОД ===== */
code, .code {
    background: none;
    font: 11px Verdana, Helvetica, sans-serif;
}

code { color: #0000FF; }
.code { color: #0000BB; }

/* ===== ТАБЛИЦЫ ===== */
table {
    border-collapse: collapse;
    border: none;
    background-color: #fafafa;
}

table.main,
table.mainouter,
table.main2,
table.blok {
    background-color: #fafafa;
    border: 0;
}

table.bottom {
    color: #FFF;
    background: transparent;
}

/* ===== ЯЧЕЙКИ ТАБЛИЦ ===== */
td {
    font-size: 8pt;
    border: 1px solid #E0E0E0;
}

td.block {
    font-size: 8pt;
    border: 0;
}

td.right_menu,
td.bottom,
td.embedded {
    border: none;
}

td.pager {
    background-color: #FFF;
    border: 1px solid #9CA4B0;
    padding: 2px;
}

td.pagebr {
    background-color: #FAFAFA;
    border: 0;
    padding: 0;
}

td.highlight {
    background-color: #EFEEE6;
    border: 1px solid #9CA4B0;
    padding: 2px;
}

td.commenttable {
    background-color: #FFFEF2;
}

td.heading { font-weight: bold; }
td.text { padding: 10pt; text-align: left; }
td.comment { padding: 10pt; font-size: 8pt; text-align: left; }

td.colhead {
    font-weight: bold;
    color: #516A88;
    background-image: url(images/header.gif);
}

td.rowhead {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

td.title { font-size: 14pt; }
td.navigation { font-weight: bold; font-size: 10pt; border: none; }

/* ===== ЗАГОЛОВКИ ===== */
h1 {
    font-size: 12pt;
    text-align: center;
}

h2 {
    background-image: url(images/header.gif);
    font-size: 10pt;
    margin: 5px 0 0 0;
    height: 18px;
    border: 0;
    border-style: solid solid none solid;
    text-align: center;
}

h3 {
    font-size: 10pt;
    margin-bottom: 5px;
    text-align: center;
}

/* ===== ТЕКСТ ===== */
p {
    font-size: 8pt;
}

p.sub {
    margin-bottom: 4pt;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #00314D;
}

/* ===== СПИСКИ ===== */
ul {
    margin: 0 0 0 16pt;
    padding: 0;
}

li {
    margin: 6pt 0;
}

/* ===== ФОРМЫ ===== */
form {
    margin: 0;
}

/* ===== ССЫЛКИ ===== */
a:link, a:visited {
    text-decoration: none;
    color: #266C8A;
    font-weight: bold;
}

a:hover {
    color: #CF4343;
}

a.index,
a.biglink {
    font-weight: bold;
}

a.biglink {
    font-size: 12pt;
}

a.online:link,
a.online:visited {
    font-weight: normal;
    text-decoration: none;
}

/* Меню-ссылки */
a.menu {
    display: block;
    padding: 3px;
    text-align: left;
    text-decoration: none;
    background-color: #FAFAFA;
    font-weight: normal;
    border-top: 1px solid #516A88;
}

a.menu:link,
a.menu:visited {
    font-weight: normal;
}

a.menu:active {
    color: #516A88;
}

a.menu:hover {
    border-left: 7px solid #516A88;
    color: #CF4343;
}

/* Альтернативные ссылки */
a.altlink_white:link,
a.altlink_white:visited {
    font-weight: bold;
    color: #4B4646;
    text-decoration: underline;
}

a.altlink_white:hover {
    text-decoration: underline;
}

a.copyright:link,
a.copyright:visited,
a.copyright:active {
    text-decoration: none;
    color: #FFF;
    border-top: 1px dashed #5087AD;
    padding: 0;
}

/* ===== СПЕЦИАЛЬНЫЕ ЭЛЕМЕНТЫ ===== */
.sublink {
    font-style: italic;
    font-size: 7pt;
    font-weight: normal;
}

.startmenu {
    font-weight: bold;
    text-align: center;
    padding: 2px;
    margin: 0;
    background-image: url(images/menu_head.gif);
}

.menutitle {
    font-weight: bold;
    text-align: center;
    color: #7E110E;
    margin: 2px;
    background-color: #FFC58C;
}

/* ===== TOP NAVIGATION ===== */
.topnav {
    background-image: url(images/topnav.gif);
    padding: 5px;
    color: #fff;
}

.topnav a,
.topnav a:visited {
    color: #fff;
    text-decoration: none;
}

.topnav a:hover {
    color: #fff;
    text-decoration: underline;
}

/* ===== POPUP ===== */
div.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 85px;
    border: 1px solid #000;
    display: none;
    background-color: #fff;
}

/* ===== НОВЫЕ СТИЛИ ДЛЯ БЛОКОВ ===== */
.block-wrapper {
    width: 100%;
    margin-bottom: 15px;
}

.block-header {
    display: flex;
    align-items: stretch;
    min-height: 24px; /* вместо фиксированной высоты */
}

.block-header-corner {
    width: 14px;
    min-height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.block-header-left {
    background-image: url('themes/default/images/cellpic_left.gif');
}

.block-header-center {
    flex: 1;
    background: url('themes/default/images/cellpic3.gif') repeat-x;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px; /* добавил вертикальные отступы */
    min-height: 20px; /* минимальная высота */
}

.block-header-right {
    background-image: url('themes/default/images/cellpic_right.gif');
}

.block-title {
    font-weight: bold;
    color: inherit;
    font-size: inherit;
    line-height: 1.2; /* лучшее выравнивание */
    margin: 0;
    padding: 0;
}

.block-content {
    background-color: #fafafa;
    padding: 3px;
    border: 1px solid #E0E0E0;
    border-top: none;
}